.container {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
}

a {
  text-decoration: none;
}

.header__top-inner {
  padding-bottom: 29px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu__list {
  display: flex;
  gap: 32px;
}

.test {
  padding: 0 9px 9px;
  font-size: 12px;
  line-height: 14;
  text-transform: uppercase;
  color: #373A39;
  font-weight: 700;
  
}