.container {
  max-width: 1280px;
  margin: 0 auto;
}

input {
  border-radius: 6px;
  border: 1px solid #A7A7A7;
}

.body {
  font-family: "Inter", sans-serif;
  
}

.header {
  background-color: #F2F0F0;
}

.header__inner {
  display: flex;
  gap: 20px;
  align-items: center;
  height: 57px;
}

.header__search {
  display: flex;
  gap: 20px;
  flex: 1;
  align-items: center;
}

.header__item {
  flex-basis: 195px;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.header__search-item {
  flex-basis: 195px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
}

.search__input {
  flex: 1;
}

.search__field {
  width: 100%;
  font-size: 14px;
  color: #B1B0B0;
  font-weight: 500;
  opacity: 100%;
}



.search__button {
  flex: 0 0 90px;
}

.search__action {
  width: 100%;
  background-color: #B0B0B0;
  border-radius: 10px;
  border-color: transparent;
  cursor: pointer;
}



.search__logo {
  margin: 0 auto;
}


.search__action:hover {
  transform: scale(1.1);
  transition: all 0.3s easy;
}

.search__action:active {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, .5);
  transition: all 0.3s easy;
}



.add__tasks {
  max-height: 310px;
  padding-top: 21px;
  font-size: 14px;
  line-height: 17px;
}

.add__tasks-title_wrapper {
  height: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.add__tasks-title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;

}

.subtitle {
  text-align: center;
}

.add__tasks-subtitle {
  padding-top: 39px;
  margin-bottom: 26px;
  font-size: 16px;
  font-weight: bold;
  line-height: 19px;
}

.add__tasks-left_section {
  max-width: 523px;
  display: flex;
  flex-direction: column;
}


.add__tasks-date {
  position: relative;
  flex: 1;
}

.add__tasks-text {
  position: absolute;
  top: -20px;
  left: 10px;
}

.add__tasks-date_field {
  width: 100%;
}

.add__tasks-name {
  position: relative;
  flex: 1;
  margin-top: 40px;
}

.add_tasks-input_name {
  width: 100%;
}


.add__tasks-right_section {
  display: flex;
  gap: 20px;
}